@page "/admin/central"
@inherits CentralConfigBase

<CascadingAuthenticationState>
    <AuthorizeView Roles="Administrator">
        <Authorized>
            <h3>Configuração Central</h3>
            <EditForm Model=@Model class="row g-3 needs-validation" Context="AuthorizedPage">
                <DataAnnotationsValidator />
                <div class="row">
                    <div class="col-md-4">
                        <DisplayName For="@(() => Model.Central1Ip)" />
                        <InputText @bind-Value="Model.Central1Ip" id="input-central-ip1" class="form-control" required />
                        <DisplayDescription For="@(() => Model.Central1Ip)" />
                        <ValidationMessage For="@(() => Model.Central1Ip)" class="invalid-feedback" />
                    </div>

                    <div class="col-md-3">
                        <DisplayName For="@(() => Model.Central1Port)" />
                        <InputNumber @bind-Value="Model.Central1Port" class="form-control" />
                        <DisplayDescription For="@(() => Model.Central1Port)" />
                        <ValidationMessage For="@(() => Model.Central1Port)" class="invalid-feedback" />
                    </div>
                </div>
                <div class="row">
                </div>
            </EditForm>
        </Authorized>
        <NotAuthorized>
            You're not authorized to see this page
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>