@page "/admin/central"
@attribute [Authorize(Roles = "Administrator")]
@inherits CentralConfigBase

<div class="pagetitle">
    <h1>Configuração Central</h1>
</div>
<section>
    <div class="card">
        <div class="card-body">
            <EditForm Model=@Model class="row g-3 needs-validation" Context="AuthorizedPage">
                <div class="col-md-12">
                    <DataAnnotationsValidator />
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <InputText @bind-Value="Model!.Central1Ip" id="input-central-ip1" class="form-control" required placeholder="IP do Central" />
                        <DisplayName ModelField="@(() => Model.Central1Ip)" LabelFor="input-central-ip1"/>
                        @*<DisplayDescription For="@(() => Model.Central1Ip)" />*@
                        <ValidationMessage For="@(() => Model.Central1Ip)" class="invalid-feedback" />
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-floating">
                        <InputNumber @bind-Value="Model.Central1Port" class="form-control" id="input-central-port1" />
                        <DisplayName ModelField="@(() => Model.Central1Port)" LabelFor="input-central-port1"/>
                        @*<DisplayDescription For="@(() => Model.Central1Port)" />*@
                        <ValidationMessage For="@(() => Model.Central1Port)" class="invalid-feedback" />
                    </div>
                </div>
                <div class="col-md-5">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Gravar</button>
                    <button type="reset" class="btn btn-secondary">Cancelar</button>
                </div>
            </EditForm>
        </div>
    </div>
</section>
