@page "/admin/maps/editor"
@inherits MapEditorBase
@attribute [Authorize(Roles = "Administrator")]

@*Example: https://chrissainty.com/investigating-drag-and-drop-with-blazor/*@

<div id="map"
     style="position: relative"
     @onclick="ClickOnMap">
    <img src="/img/maps/map_campolide.png" />

    <img src="@Element.PathToImage"
         style="z-index: 100; position: absolute; top: @(Element.PositionY)px ; left: @(Element.PositionX)px; border:@(Element.Selected ? "solid": "none")"
         alt="@Element.Name"
         @onclick="@(e => ToggleSelection(Element.Name))"
         @onclick:stopPropagation="true" />
    <br />

    <span>x = @Element.PositionX ; y = @Element.PositionY ; Selected = @Element.Selected</span>

    <p>
        Para arrastar um elemento, escolha o elemento a arrastar e clique com o rato onde pretende que o elemento fique.
    </p>
</div>
